.App {
  background-image: url('images/age.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}

